.baonkChat {height: 100%;}

.bnkContainer {background: #3399ff; max-height: 1000px; margin: 0px auto; min-height: 750px;}

.bnk {background: #ffffff;	margin: 1px;}

.bnkContainer {	display: flex;}

.bnkLeft {min-width: 400px;	max-width: 600px; display:flex;	flex-direction: column;}

.bnkRight {min-width: 400px; max-width: 600px;}

.bnkCenter {flex-grow: 1; display:flex;	flex-direction: column;}

.bnkChatContent {flex-grow: 1; background: #e5e5e5; font-family: 'Lato', sans-serif; position: relative;}

.chatImage {max-height: 34px; max-width: 34px; cursor: pointer;}

.leftHeaderMenu {display: flex; width: 100%; height: 50px; padding: 8px; border-bottom: 1px solid #3399ff;}

.centerHeaderMenu {min-height: 50px; padding: 8px; border-bottom: 1px solid #3399ff;}

.txtMessage {text-align: center; flex-grow: 1; color: black; line-height: 34px; font-size: 14px; font-weight: bold; font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;}

.bnkContent {display:flex; padding: 5px; flex-direction: column;}

.bnkSearch {height: 25px; display: flex; background-color: #eee}

.bnkbttnSearch {height: 25px; border: 0; margin: 0; outline: 0; padding: 0; width: 100%; flex-grow: 1; background-color: #f6f7f9;}

.bnkChatLine {}


.emoticon {background-size: 85px; background-repeat: no-repeat; background-position: center; background-clip: border-box; transition: background-size 0.2s; -webkit-transition: background-size 0.2s; transition-timing-function: cubic-bezier(.07,1.41,.82,1.41); display: inline-block; width: 100px; height: 100px; text-decoration: none; cursor: pointer;}

.emoticon:hover {background-size: 100px;}

table, th, td {border-collapse: collapse; empty-cells: show; padding: 0px; margin: 0px; font-size: 12px; font-family: 'Gulim', 'arial', 'verdana'; line-height: 0px;}

::selection {background: rgba(82,179,217,0.3); color: inherit;}

/* M E N U */
.menu {position: fixed; top: 0px; left: 0px; right: 0px; width: 100%; height: 50px; background: rgba(27,35,42,0.9); z-index: 100; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}

.back {position: absolute; width: 90px; height: 50px; top: 0px; left: 0px; color: rgba(255,255,255,0.5); line-height: 45px; font-size: 40px; padding-left: 10px; cursor: pointer; transition: .15s all;}

.back img {position: absolute; top: 5px; left: 30px; width: 40px; height: 40px; background-color: rgba(255,255,255,0.1); border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; margin-left: 15px;}

.back:active {background: rgba(0,0,0,0.15);}

.name {position: absolute; top: 3px; left: 110px; font-family: 'Lato'; font-size: 25px; font-weight: 300; color: rgba(255,255,255,0.98); cursor: default;}

.last {position: absolute; top: 30px; left: 115px; font-family: 'Lato'; font-size: 11px; font-weight: 400; color: rgba(255,255,255,0.6); cursor: default;}

.members {position: absolute; top: 30px; left: 115px; font-family: 'Lato'; font-size: 11px; font-weight: 400; color: rgba(255,255,255,0.6); cursor: default; word-spacing: 2px;}

/* M E S S A G E S */
.chat {list-style: none; background: none; margin: 0px; padding: 0px 0px 50px 0px; margin-top: 10px; margin-bottom: 15px;}

.chat li {padding: 0.5rem; overflow: hidden; display: flex;}

.chat .avatar {width: 50px; height: 50px; position: relative; display: block; z-index: 2; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; background-color: rgba(255,255,255,0.9);}

.chat .avatar img {width: 50px; height: 50px; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; background-color: rgba(255,255,255,0.9); -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}

.chat .day {position: relative; display: block; text-align: center; color: rgb(147, 58, 183); height: 20px; text-shadow: 7px 0px 0px #e5e5e5, 6px 0px 0px #e5e5e5, 5px 0px 0px #e5e5e5, 4px 0px 0px #e5e5e5, 3px 0px 0px #e5e5e5, 2px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 0px 0px 0px #e5e5e5, -1px 0px 0px #e5e5e5, -2px 0px 0px #e5e5e5, -3px 0px 0px #e5e5e5, -4px 0px 0px #e5e5e5, -5px 0px 0px #e5e5e5, -6px 0px 0px #e5e5e5, -7px 0px 0px #e5e5e5; box-shadow: inset 20px 0px 0px #e5e5e5, inset -20px 0px 0px #e5e5e5, inset 0px -2px 0px #000; line-height: 38px; margin-top: 5px; margin-bottom: 20px; cursor: default; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}

.chat .notification {position: relative; display: inherit; text-align: center; font-size: 13px; color: #337ab7; background: #fcf8e3a8; line-height: 30px; border-radius: 100px; margin: 7px 25%; height: 30px; width: 50%; box-shadow: 0px 1px 0px rgba(0,0,0,.05), 0px -1px 0px rgba(0,0,0,.05), inset 0px 1px 0px rgba(255,255,255,.02), inset 0px -1px 0px rgba(255,255,255,.02); text-shadow: 0px -1px 0px rgba(0,0,0,.1), 0px 1px 0px rgba(255,255,255,.05); cursor: default; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; transition: all .2s cubic-bezier(0.565, -0.260, 0.255, 1.410);}

.chat .notification time {position: absolute; top: 7px; right: 7px; font-size: 11px; padding: 8px; border-radius: 100px; background: #337ab77a; box-shadow: 0px 0px 2px rgba(255,255,255,.02), inset 0px 0px 1px rgba(27,35,42,0.1); height: 1px; line-height: 0px; color: #222; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; transition: all .2s cubic-bezier(0.565, -0.260, 0.255, 1.410);}

.self .msg {border-top-left-radius: 0px; box-shadow: -1px 2px 0px #fff; background-color: #fff; margin-left: 5px; margin-top: 10px;}

.self:before {content: ""; position: relative; top: 10px; right: 0px; left: 55px; width: 0px; height: 0px; border: 5px solid #fff; border-left-color: transparent; border-bottom-color: transparent;}

.other {justify-content: flex-end; align-items: flex-end;}

.other .msg {order: 1; border-bottom-right-radius: 0px; box-shadow: 1px 2px 0px #eef8ff; margin-right: 5px; margin-bottom: 10px;}

.other .avatar {order: 2;}

.other .avatar:after {content: ""; position: relative; display: inline-block; bottom: 30px; right: 5px; width: 0px; height: 0px; border: 5px solid #eef8ff; border-right-color: transparent; border-top-color: transparent; box-shadow: 0px 2px 0px #eef8ff;}

.msg {background: #eef8ff; min-width: 50px; padding: 10px; border-radius: 5px; word-break: break-all;}

.msg .user {font-size: 14px; margin: 0 0 2px 0; color: #666; font-weight: 700; margin-top: -2px; margin-bottom: 5px; transition: all .2s ease; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}

.msg .user .range.admin {display: inline-block; font-size: 10px; font-weight: 300; color: #6aea96; padding: 2px; border-radius: 3px; border: solid 1px #6aea96; background: rgba(255,255,255,0); margin-left: 5px;}

.msg p {font-size: 13px; margin: 0 0 2px 0; color: #000; transition: all .2s ease; word-wrap: break-word; margin-top: 0px;margin-bottom: 0px; white-space: pre-wrap; cursor: default;}

.msg .bnkSticker {position: relative; display: block; width: 80px; height: 80px; margin: 10px; box-shadow: 0px 0px 3px #eee; transition: all .8s cubic-bezier(0.565, -0.260, 0.255, 1.410); cursor: default; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}

.msg img {position: relative; display: block; width: 600px; border-radius: 5px; box-shadow: 0px 0px 3px #eee; transition: all .8s cubic-bezier(0.565, -0.260, 0.255, 1.410); cursor: default; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}

.msg .bnkSticker img {position: relative; display: block; width: 80px; height: 80px; box-shadow: 0px 0px 3px #eee; transition: all .8s cubic-bezier(0.565, -0.260, 0.255, 1.410); cursor: default; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}

.msg span {width: 100%; text-align: right; font-size: 9px; color: rgba(0,0,0,.35); margin-top: 3px; float: right; cursor: default; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}

.msg span:before {content:"\f017"; color: #ddd; font-family: FontAwesome; display: inline-block; margin-right: 4px;}

emoji {display: inline-block; height: 18px; width: 18px; background-size: cover; background-repeat: no-repeat; margin-top: -7px; margin-left: 2px; margin-right: 2px; transform: translate3d(0px, 4px, 0px);}

emoji.please {background-image: url(https://imgur.com/ftowh0s.png);}

emoji.lmao {background-image: url(https://i.imgur.com/MllSy5N.png);}

emoji.happy {background-image: url(https://imgur.com/5WUpcPZ.png);}

emoji.pizza {background-image: url(https://imgur.com/voEvJld.png);}

emoji.cryalot {background-image: url(https://i.imgur.com/UUrRRo6.png);}

emoji.books {background-image: url(https://i.imgur.com/UjZLf1R.png);}

emoji.moai {background-image: url(https://imgur.com/uSpaYy8.png);}

emoji.suffocated {background-image: url(https://i.imgur.com/jfTyB5F.png);}

emoji.scream {background-image: url(https://i.imgur.com/tOLNJgg.png);}

emoji.hearth_blue {background-image: url(https://i.imgur.com/gR9juts.png);}

emoji.funny {background-image: url(https://i.imgur.com/qKia58V.png);}

emoji.shit {background-image: url(https://i.imgur.com/H5Jba8r.png);}

@-webikt-keyframes pulse {from { opacity: 0; } to { opacity: 0.5; }}

/* T Y P E */
.typezone {position: absolute; bottom: 0px; left: 0px; right: 0px; width: 100%; height: 50px; z-index: 99; background: #eee; border: none; outline: none; display: flex;}

.bnkChatInput {flex-grow: 1; position: relative;}

textarea, textarea:hover {position: absolute; bottom: 0px;  width: 100%; height: 50px; z-index: 100; background: #fafafa; border: none; outline: none; padding-left: 2%; padding-right: 2%; padding-top: 2%; color: #666; font-weight: 400; border-top-right-radius: 10px; border-top-left-radius: 10px; overflow: hidden; resize: none; z-index: 200; box-shadow: 0px 0px 10px rgba(0,0,0,0.2); transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);}

textarea:focus {height: 300px; box-shadow: 0px 0px 20px rgba(0,0,0,0.3);}

.emojis {display: block; width: 50px; height: 50px; background-image: url(/images/chat/emo3.png); background-repeat: no-repeat; background-size: 45px 45px; background-position: 6px 4px; z-index: 100; cursor: pointer;}

.emojis:active {opacity: 0.9;}

.bnkUploadFile {display: block; width: 48px; height: 50px; background-image: url(/images/chat/upload.png); background-repeat: no-repeat; background-size: 34px 34px; background-position: 3px 9px; z-index: 100; cursor: pointer;}

.bnkUploadFile:active {opacity: 0.9;}

.send {display: block; width: 50px; height: 50px; border: none; outline: none; z-index: 100; cursor: pointer; background-image: url(https://i.imgur.com/VSQxJKL.png); background-repeat: no-repeat; background-size: 34px 34px; background-position: 45% 9px; background-color: rgba(255,255,255,0);}

.send:active {opacity: 0.85;}

/* R E S P O N S I V E   C O N F I G U R A T I O N */
@media screen and (max-width: 750px) {::-webkit-scrollbar {display: none;} .chat{margin-bottom: 55px;} .msg p {font-size: 11px;} .msg .user {font-size: 13px;} .msg img {width: 300px;} .chat .notification {font-size: 12px; margin: 7px 30%; width: 40%;} .chat .day {font-size: 11px;} .emojis {width: 25%;} .send {width: 25%;} textarea {left: 0px; right: 0px; bottom: 50px; padding-left: 5%; padding-right: 5%; padding-top: 20px; width: 90%; border-radius: 0px; height: 28px; background: #fafafa; box-shadow: none; transition: all .4s cubic-bezier(0.2, -0.2, 0.2, 1.2);} textarea:focus {height: 30vh; margin-top: 30vh; box-shadow: 0px -20px 20px rgba(0,0,0,0.1);}  form:focus ~ .typezone {bottom: 50vh;} }

@media screen and (max-width: 550px) {.msg p {max-width: 250px;} .msg img {width: 200px;} .chat .notification {font-size: 12px; margin: 7px 0px; width: 100%; border-radius: 0px;} .chat .notification time {right: 10px;} }